.DS_Store
._*
**/.DS_Store
**/._*
*~
*.asv
coordinates/**
LLR-RPY/**
NO-TRACK/**
recordings/*.avi
storage/**/*.json
telemetry/*.csv
visualization/work/cache/**
workspace.mat
tempUML*
*.zip
20201108_COSMOS_CYGNSS1Day.png
20201108_COSMOS_CYGNSS1Day.png
20201108_COSMOS_CYGNSS1Day.png
coordtracked/20210405TestTwoSats/sat0_LLR_RPY_Scaled.csv
coordtracked/20210405TestTwoSats/sat1_LLR_RPY_Scaled - Copy.csv
