.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*~
*.asv
workspace.mat
tempUML*
sat1LLR.csv
sat2LLR.csv
FFP.json
FFPsat1.json
FFPsat2.json
FFPsat3.json
sat3LLR.csv
sat4LLR.csv
parametersSat1.json
parametersSat2.json
parametersSat3.json
