.DS_Store
._*
**/.DS_Store
**/._*
*~
*.asv
coordinates/**
LLR-RPY/**
NO-TRACK/**
recordings/*.avi
storage/**/*.json
telemetry/*.csv
visualization/work/cache/**
workspace.mat
tempUML*
*.zip
20201108_COSMOS_CYGNSS1Day.png
20201108_COSMOS_CYGNSS1Day.png
20201108_COSMOS_CYGNSS1Day.png
coordtracked/20210405TestTwoSats/sat0_LLR_RPY_Scaled.csv
coordtracked/20210405TestTwoSats/sat1_LLR_RPY_Scaled - Copy.csv
2times20minperdayfor7days.csv
everyday6times30minperdayfor7daysTBC.csv
2times240minperdayfor7days.csv
2times240minperdayfor7days.csv
a.csv
visualization/ProjectTasks/CubeSatStoredValues.mat
2times40minperdayfor7days.csv
visualization/ProjectTasks/CubeSatStoredValues.mat
